@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
/* Header Styles hier einfügen */

body {
    margin: 0;
    padding: 0;
}

/* Booking-Seiten-Stile hier einfügen */

.booking-container {
    width: 70%;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.element {
    width: 45%; /* Reduzierte Breite für die Elemente */
    margin-bottom: 20px;
    margin-top: 20px;
}

.element h3 {
    margin-top: 0;
    border-bottom: 1px solid #ddd; /* Trennlinie unter der Überschrift */
    padding-bottom: 5px; /* Abstand zwischen Überschrift und Inhalt */
    position: relative;
}

.element p {
    margin-top: 10px;
}

textarea {
    width: calc(100% - 10px); /* Breite des Textbereichs abzüglich des Padding */
    height: 50px;
    border: 1px solid #ddd; /* Rahmen um den Textbereich */
    padding: 5px;
}

.b-button-container {
    width: 100%;
    text-align: center; /* Zentriert den Text und den Button */
    position: relative; /* Positionierung für das Fehlermeldungs-Element */
    margin-top: 20px; /* Platzieren Sie den Abstand zwischen dem Text und dem Button */
}

.error-message {
    position: absolute;
    top: -30px; /* Anpassen Sie diesen Wert, um die vertikale Position des Texts zu ändern */
    width: 100%;
}

.buchungs-button {
    width: 200px; /* Festgelegte Breite für den Button */
    margin-top: 20px; /* Abstand vom vorherigen Element */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0fa3b1;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.buchungs-button:hover {
    background-color: #2eb8cd;
}

.date-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.date-inputs label {
    font-weight: bold;
}

.date-inputs input[type="date"] {
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 140px; /* Breite des Eingabefelds anpassen */
    box-sizing: border-box;
    position: relative;
}

.date-inputs input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 50%;
    right: 5px; /* Positionierung am rechten Rand */
    transform: translateY(-50%);
}

.payment-options {
    margin-bottom: 10px;
}

.payment-options input[type="radio"] {
    margin-right: 5px;
    margin-bottom: 10px;
}

.payment-options label {
    margin-top: 10px; /* Anpassung des Abstands zwischen den Optionen */
}


.confirm-button {
    align-content: center;
    padding: 8px 8px;
    border: none;
    border-radius: 4px;
    background-color: #e0e0e0;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

.confirm-button:hover {
    background-color: #ccc;
}

.input-container {
    position: relative;
}

#additional-request {
    width: 200px; /* Breite des Textfelds */
    height: 100px; /* Höhe des Textfelds */
}

.additional-request {
    resize: none;
    margin-bottom: 10px;
}

.additional-request:focus {
    outline: none; /* Entfernt die Standard-Outlinie */
    border: 1px solid #0fa3b1;
}

#confirm-button {
    width: 100px; /* Breite des Buttons */
    height: 30px; /* Höhe des Buttons */
    /* Weitere gewünschte Stileigenschaften */
}

.indicator {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: 10px; /* Abstand zum Text */
}

.indicator::before {
    content: '✖'; /* Kreuz-Symbol */
    font-size: 12px;
    color: red; /* Rote Farbe für das Kreuz */
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background-color: transparent; /* Transparent hinter dem Kreuz */
    border: none; /* Kein Rahmen */
}

.complete::before {
    content: '✓'; /* Haken-Symbol */
    font-size: 12px;
    color: green; /* Grüne Farbe für den Haken */
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background-color: transparent; /* Transparent hinter dem Haken */
    border: none; /* Kein Rahmen */
}

#confirm-indicator {
    content: '✖'; /* Kreuz-Symbol */
    font-size: 12px;
    color: red; /* Rote Farbe für das Kreuz */
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background-color: transparent; /* Transparent hinter dem Kreuz */
    border: none; /* Kein Rahmen */
}
  
  #confirm-indicator.complete {
    content: '✓'; /* Haken-Symbol */
    font-size: 12px;
    color: green; /* Grüne Farbe für den Haken */
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background-color: transparent; /* Transparent hinter dem Haken */
    border: none; /* Kein Rahmen */
}

  #rechnungsadresse-indicator {
    content: '✖'; /* Kreuz-Symbol */
    font-size: 12px;
    color: red; /* Rote Farbe für das Kreuz */
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background-color: transparent; /* Transparent hinter dem Kreuz */
    border: none; /* Kein Rahmen */
}

#rechnungsadresse-indicator.complete {
    content: '✓'; /* Haken-Symbol */
    font-size: 12px;
    color: green; /* Grüne Farbe für den Haken */
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background-color: transparent; /* Transparent hinter dem Haken */
    border: none; /* Kein Rahmen */
}

#zahlungsmethode-indicator {
    content: '✖'; /* Kreuz-Symbol */
    font-size: 12px;
    color: red; /* Rote Farbe für das Kreuz */
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background-color: transparent; /* Transparent hinter dem Kreuz */
    border: none; /* Kein Rahmen */
}

#zahlungsmethode-indicator.complete {
    content: '✓'; /* Haken-Symbol */
    font-size: 12px;
    color: green; /* Grüne Farbe für den Haken */
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background-color: transparent; /* Transparent hinter dem Haken */
    border: none; /* Kein Rahmen */
}

/* Booking-Seiten-Stile hier einfügen */

/* Confirmation-Seiten-Stile hier einfügen */

content{
    margin-top: 20px;
    width: 100%;
    align-items: center;
    padding: 5px;
    justify-content: center;
    display: flex;
}

.confirmation-content{
    width: 85%;
}

.my-bookings-link {
    color: blue; /* Farbe des Links */
}

/* Confirmation-Seiten-Stile hier einfügen */

/* Body Styles hier einfügen */
