@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
/* Header Styles hier einfügen */
header {
    font-family: 'Montserrat', sans-serif;
    background-color: #222223;
    color: white;
    align-items: center;
    display: flex;
    padding: 5px;
    justify-content: center;
}

.header img {
    width: 200px;
    height: 80px;
    z-index: 1;
    position: relative;
    padding-right: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #222223;
    color: white;
    width: 85%;
}

/* Styles for the left side of the header */
.header-left {
    display: flex;
    align-items: center;
}

.header-left h1 {
    margin: 10px;
    padding: 0 10px;
    white-space: nowrap;
}

.header-right {
    display: flex;
    align-items: center;
}

.search-container{
    display: flex;
    align-items: center;
}
.search-container input[type=text]{
   height: 35px;
   width: 250px;
   border: 2px solid #e9e8e6;
   padding: 0 10px;
   border-radius: 5px;
}

.header h1 {
    font-size: 20px;
    margin: 0;
    padding: 10px;
    display: flex;
    position: relative;
}

.header span {
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color 0.4s ease-out;
}

.header span::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #e9e8e6;
    transition: width 0.4s ease-out;
    cursor: pointer;
    margin-bottom: -3px;
}

.header span:hover::before {
    width: 100%;
}

.header span:hover {
    color:#9BBEC8;
    cursor: pointer;
}

input[type="text" i] {
    border-radius: 5px;
    background-color: #e9e8e6;
    border: none;
    border: 0;
    padding-right: 10px;
    margin-right: 10px;
}

.Login-button {
    padding: 10px 30px;
    border-radius: 5px;
    background-color:  #e9e8e6;
    color: black; /* Christian: Fixed Color jetzt weiß. missing ;*/
    display: flex;
    justify-content: center;
    height: 40px;
    width: 200px;
    border: none;
}

.Login-button:hover{
    cursor: pointer;
    background-color: #9BBEC8;
    transition: all 0.4s ease-out;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    padding: 0 !important;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}
/* Header Styles hier einfügen */

/* Body Styles hier einfügen */

body {
    margin: 0;
    padding: 0;
}

/* Booking-Seiten-Stile hier einfügen */

.booking-container {
    width: 70%;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.element {
    width: 45%; /* Reduzierte Breite für die Elemente */
    margin-bottom: 20px;
    margin-top: 20px;
}

.element h3 {
    margin-top: 0;
    border-bottom: 1px solid #ddd; /* Trennlinie unter der Überschrift */
    padding-bottom: 5px; /* Abstand zwischen Überschrift und Inhalt */
}

.element p {
    margin-top: 10px;
}

textarea {
    width: calc(100% - 10px); /* Breite des Textbereichs abzüglich des Padding */
    height: 50px;
    border: 1px solid #ddd; /* Rahmen um den Textbereich */
    padding: 5px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Für Abstand nach oben */
}

.buchungs-button {
    width: 200px; /* Festgelegte Breite für den Button */
    margin-top: 20px; /* Abstand vom vorherigen Element */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0fa3b1;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.buchungs-button:hover {
    background-color: #2eb8cd;
}

.date-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.date-inputs label {
    font-weight: bold;
}

.date-inputs input[type="date"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.payment-option {
    margin-bottom: 10px;
}

.payment-option input[type="radio"] {
    margin-right: 5px;
}

.payment-option label {
    font-size: 16px;
}

/* Booking-Seiten-Stile hier einfügen */

/* Body Styles hier einfügen */

/* Footer Styles hier einfügen */
/* SM Logos */
.sm a{
	display: flex;
    text-decoration: none;
    font-size: 25px;
    width: 30px;
    height: 30px;
    color: #f0f0f0;
    justify-content: center;
    align-items: center;
    position: relative;
    margin:7px;
}
.sm a::before{
	content: '';
	position: absolute;
	width:30px;
	height: 30px;
	border-radius: 25%;
	z-index: 1;
	transition: transform .3s ease-in;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	background-clip: text;
    color: transparent;
}

.sm a:nth-child(1)::before{
	background: #38529a;
}

.sm a:nth-child(2)::before{
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

.sm a:nth-child(3)::before{
	background: #1c96e9;
}

.sm a:nth-child(4)::before{
	background: #f70000;
}

.sm a:nth-child(5)::before{
	background: #046596;
}

.sm a:hover::before{
	transform: scale(0);
}

.sm a i{
	transition: transform .3s ease-in;
	position: relative;
	z-index: 2;
}

.sm a:nth-child(1):hover i{
	background: #38529a;
	-webkit-background-clip: text;/* Christian: ich glaube das macht man anders und macht das als globale eigenschaft aber weiß nicht wie und das geht erstmal so */
    -webkit-text-fill-color: transparent;/* Christian: ich glaube das macht man anders und macht das als globale eigenschaft aber weiß nicht wie und das geht erstmal so */
	background-clip: text;/* Christian: ich glaube das macht man anders und macht das als globale eigenschaft aber weiß nicht wie und das geht erstmal so */
    color: transparent;/* Christian: ich glaube das macht man anders und macht das als globale eigenschaft aber weiß nicht wie und das geht erstmal so */
	transform: scale(1.5);
}

.sm a:nth-child(2):hover i{
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	background-clip: text;
    color: transparent;
	transform: scale(1.5);
}

.sm a:nth-child(3):hover i{
	background: #1c96e9;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	background-clip: text;
    color: transparent;
	transform: scale(1.5);
}

.sm a:nth-child(4):hover i{
	background: #f70000;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	background-clip: text;
    color: transparent;
	transform: scale(1.5);
}

.sm a:nth-child(5):hover i{
	background: #046596;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	background-clip: text;
    color: transparent;
	transform: scale(1.5);
}


*{
    font-family: 'Montserrat', sans-serif;
}

.footer-container{
    background-color: #222223;
    padding-bottom: 2rem 0 4rem 0;
    text-align: center;
    margin-top: 50px;
}

.footer{
    width: 85%;
    background-color: #222223;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 50px;
}

.footer-heading{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    align-items: center;
    flex: 1;
}

.footer-heading h2{
    margin-bottom: 2rem;
}

.footer-heading a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover{
    color: #0fa3b1;
    transition: 0.3s ease-out;
}

.footer-email-form h2{
    margin-bottom: 2rem;
    color: white;
}

.footer-email-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-container {
    display: flex;
}

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 0;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email::placeholder {
    color: #b1b1b1;
}

#footer-email-button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #0fa3b1;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}
/* Christian: ich weiß nicht ob das hier nötig ist aber mache das erstmal rein
mit dem zeug hier kann man beim Verändern der Fenstergröße den footer anpassen
whatever */

@media screen and(max-width: 1150px){
    .footer{
        padding-top: 50vh;
    }

    .footer-email-form{
        margin-top: 4rem;
    }
}

@media screen and(max-width: 820px){
    .footer{
        padding-top: 2rem;
    }
}

@media screen and(max-width: 820px){
    .footer{
        padding-top: none;
    }

    .footer-email-form{
        margin-top: 2rem;
    }
}
/* Footer Styles hier einfügen */