@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    background: url('Images/largePicture.jpg');
	background-position: 80% 80%; /* Horizontal: 50%, Vertical: 20% */
	background-size: cover;
}

.product-barcontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    z-index: 1; /* Ensure it appears above slider images */
    justify-content: center;
    margin-top: 60px;
}

.advanced-search-bar-top {
    font-size: 20px;;
    background-color: rgba(34, 34, 35, 0.97);
    box-sizing: border-box;
    color: white;
    padding: 20px 20px 0px 20px;
    width: 85%;
    border-radius: 5px 5px 0px 0px;
    border-top: 5px solid;
    border-right: 5px solid;
    border-left: 5px solid;
    border-color: rgb(180, 180, 180);
}

.advanced-search-bar-top h2 {
    margin: 0;
    font-size: 30px;
    margin-bottom: 10px;
}

.advanced-search-bar-top form {
    display: flex;
    flex-direction: column;
}

.advanced-search-bar-top .searchbar-inner {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.advanced-search-bar-top input[type="text"],
.advanced-search-bar-top input[type="date"],
.advanced-search-bar-top button {
    flex: 1; /* Distribute available space equally among fields */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding doesn't increase element width */
    margin-right: 10px; /* Adjust spacing between fields */
    padding-bottom: 12px;
    background-color:  white;
}

.advanced-search-bar-top button {
    background-color:  #e9e8e6;
    color: black;
    border: none;
    cursor: pointer;
}

.advanced-search-bar-top button:hover{
    cursor: pointer;
    background-color: #9BBEC8;
    transition: all 0.4s ease-out;
}

.filter-bar{
    font-size: 20px;;
    background-color: rgba(34, 34, 35, 0.97);
    box-sizing: border-box;
    color: white;
    padding: 0px 20px 20px 20px;
    width: 85%;
    border-radius: 0px 0px 5px 5px;
    border-bottom: 5px solid;
    border-right: 5px solid;
    border-left: 5px solid;
    border-color: rgb(180, 180, 180);
}

.filter-bar h2{
    margin-top: 0px;
}

.filter-bar-inner span,
.filter-bar-inner label {
    margin-bottom: 5px; 
}

.filter-bar-inner input {
    margin-left: 5px;
}

.top {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.filter-button-container {
    display: flex;
    gap: 10px;
    width: 19%;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    align-self: flex-start;
    align-items: center;
}

.filter-bar-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.filter-bar-inner span {
    margin-left: 5px;
    font-size: 20px;
}

.filter-bar-inner h2 {
    margin: 0;
    font-size: 30px;
    margin-bottom: 10px;
}

.filter-bar-inner form {
    display: flex;
    flex-direction: column;
}

.filter-bar .filter-bar-inner {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.input-short {
    /* Your styles here */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 60px;
    /* Other styles for the filter input */
}

.input-long {
    /* Your styles here */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 150px;
    /* Other styles for the filter input */
}

.input-preis{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 80px;
}

.filter-bar-inner button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding doesn't increase element width */
    margin-right: 10px; /* Adjust spacing between fields */
    padding-bottom: 12px;
    background-color:  white;
    width: 200px;
    margin-top: 10px;
}

.filter-item {
    flex: 0 0 1;
    min-width: 8%;
    max-width: calc(30% - 20px);
    margin-right: 1%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
}

.filter-item-sort {
    width: auto;
    max-width: fit-content;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
}

.filter-bar-inner button {
    background-color:  #e9e8e6;
    color: black;
    border: none;
    cursor: pointer;
}

.filter-bar-inner .filter-reset {
    width: 45%; /* Breite für den Zurücksetzen-Button */
    height: 30px;
    margin-right: 50%;
    font-size: 12px
}

.filter-bar-inner .filter-apply {
    width: 70%; /* Breite für den Anwenden-Button */
    margin-right: 50%;
    margin-top: 5px;
    font-size: 16px;
}

.filter-bar-inner button:hover{
    cursor: pointer;
    background-color: #9BBEC8;
    transition: all 0.4s ease-out;
}

.dropdown {
    margin-top: 10px; /* Add margin top */
    position: relative; /* Establish positioning context for the dropdown */
}

.overview-parent {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column; /* Display rows in a column */
}

.overview-row {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin-top: 50px;
}

.car-card {
    position: relative;
    flex: 0 0 calc(18% - 20px); /* Breite der Karten */
    height: 350px; /* Höhe der Karten */
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 35px;
    margin-left: 20px; /* Abstand zwischen den Karten */
    box-sizing: border-box;
    cursor: pointer;
}


.car-card .rent-button {
    position: absolute; /* Absolute Position für den Button innerhalb der Karte */
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #e9e8e6;
    color: black;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.car-card:nth-child(5n-4) {
    margin-left: 10;
}

/* Entfernen der rechten Margin für das letzte Element in einer variablen Reihe */
.overview-row > .car-card {
    margin-right: 0;
}

/* Anpassungen für weniger als 5 Karten */
.overview-row > .car-card {
    flex-basis: calc(20% - 20px); /* Berechnet die Breite basierend auf der Anzahl von Karten (minus Abstand) */
}

/* Bei weniger als 5 Karten: Flex-Anpassungen */
@media screen and (max-width: 1060px) {
    .overview-row > .car-card {
        flex-basis: calc(25% - 20px); /* Ändert die Breite für 4 Karten in einer Reihe (minus Abstand) */
    }
}

@media screen and (max-width: 848px) {
    .overview-row > .car-card {
        flex-basis: calc(33.33% - 20px); /* Ändert die Breite für 3 Karten in einer Reihe (minus Abstand) */
    }
}

.car-card:hover {
    transform: scale(1.05);
}

.car-image-container {
    height: 45%; /* Nur das obere Drittel für das Bild reservieren */
    overflow: hidden;
    align-items: center;
}

.car-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.car-details-container {
    margin-left: 10%;
    height: 55%; /* Restlichen Platz für die Details */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.car-details {
    margin-bottom: 20px;
    height: 67%; /* Restlichen Platz für die Details */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


  .car-name {
    font-size: 20px; /* Größere Schrift für den Namen */
    font-weight: bold;
    margin-bottom: 5px;
  }

  .car-prize{
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: 20px;
  }

  .key-facts {
    font-size: 16px; /* Größere Schrift für die Schlüsselfakten */
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
  }

  .rent-button {
    align-self: flex-end;
    background-color:  #e9e8e6;
    color: black;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 7px;
  }

  .date-required-msg{
    align-self: flex-start;
  }

  .rent-button:hover {
    background-color: #9BBEC8;
  }

.rent-button:hover {
    background-color: #9BBEC8;
}

.durchgestrichen {
    position: relative;
    display: inline-block;
  }
  
  .durchgestrichen::before {
    content: "";
    position: absolute;
    top: 100%; /* Verschiebung nach unten */
    left: -5%; /* Verschiebung nach rechts */
    width: 140%; /* Anpassung der Länge */
    height: 2px; /* Anpassung der Dicke */
    background-color: red; /* Farbe der durchgestrichenen Linie */
    transform-origin: top left;
    transform: rotate(-45deg);
  }

  /* Product-Details Styles*/
  .car-details-overlay {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
}

.car-details-popup {
    background-color: #f5f5f5; /* Graue Farbe der Karten übernehmen */
    padding: 50px; /* Mehr Innenabstand */
    border-radius: 10px; /* Runde Ecken */
    width: 90%; /* Breite anpassen */
    max-width: 1200px; /* Maximalbreite anpassen */
    min-height: 50vh; /* Mindesthöhe in Relation zur Bildschirmhöhe */
    max-height: 80vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Schatten wie bei den Karten */
    position: fixed;
    top: 50px; /* Anpassen der oberen Position des Popups */
    left: 50%; /* Zentrieren des Popups horizontal */
    transform: translateX(-50%);
}

/* Stile für den Inhalt der vergrößerten Ansicht */
.popup-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.car-details-popup-content {
    width: 50%;
    padding-left: 20px;
    margin-top: 20px; /* Zusätzlicher Abstand nach oben */
    display: flex;
    flex-direction: column;
}

.car-details-popup-content .rent-button {
    align-self: flex-end; /* Button rechts im Element ausrichten */
    margin-top: 15px; /* Abstand nach oben für den Button */
    padding: 15px 30px; /* Größere Abmessungen für den Button */
    font-size: 20px; /* Größere Schrift für den Button */
}

.car-details-popup-content div {
    margin-bottom: 10px; /* Abstand zwischen einzelnen Infopunkten */
    font-size: 18px; /* Größere Schrift für die Infopunkte */
}

.car-details-popup-content .car-name {
    font-size: 26px; /* Größere Schrift für den Namen */
    font-weight: bold;
    margin-bottom: 10px; /* Abstand nach unten */
}

.car-details-popup-content .car-prize {
    font-size: 18px; /* Größere Schrift für den Preis */
    font-weight:550; /* Mittelfette Schrift */
    margin-top: 5px; /* Abstand nach oben */
}

.close-button {
    position: absolute;
    top: 10px; /* Abstand vom oberen Rand innerhalb des Popups */
    right: 10px; /* Abstand vom rechten Rand innerhalb des Popups */
    cursor: pointer;
    font-size: 24px;
    color: #888;
    z-index: 99999; /* Stellen sicher, dass das Symbol über allem liegt */
}

.popup-image-container {
    width: 40%;
    max-height: 80vh; /* Maximale Höhe des Containers auf 80% der Bildschirmhöhe begrenzen */
    overflow: hidden; /* Überlauf verstecken */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Relativ für absolute Positionierung der Bilder */
}


.popup-image-container img {
    width: auto;
    max-height: 50%; /* Begrenzt die Höhe der Bilder */
}

/* Product-Details Styles*/

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}
  
.pagination a {
    background-color: #f5f5f5;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
}
  
.pagination a.active {
    background-color: #9BBEC8;
    color: #fff;
    border: 1px solid #9BBEC8;
    font-size: 20px; /* Increase the font size for the active link */
}
  

.no-results {
    background-color: rgba(34, 34, 35, 0.97);
    color: #fff; /* White text color */
    padding: 40px; /* Add some padding inside the box */
    border-radius: 5px; /* Rounded corners */
    font-size: 18px; /* Larger text size */
    width: 500px;
    text-align: center; /* Align text to the center */
    margin-top: 30px;
    margin-bottom: 30px;
    border: 5px solid;
    border-color: rgb(180, 180, 180);
}