@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    background: url('Images/largePicture.jpg');
	background-position: 80% 80%; /* Horizontal: 50%, Vertical: 20% */
	background-size: cover;
}

.product-barcontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    z-index: 1; /* Ensure it appears above slider images */
    justify-content: center;
    margin-top: 60px;
}

.advanced-search-bar-top {
    font-size: 20px;;
    background-color: rgba(34, 34, 35, 0.97);
    box-sizing: border-box;
    color: white;
    padding: 20px 20px 0px 20px;
    width: 85%;
    border-radius: 5px 5px 0px 0px;
    border-top: 5px solid;
    border-right: 5px solid;
    border-left: 5px solid;
    border-color: rgb(180, 180, 180);
}

.advanced-search-bar-top h2 {
    margin: 0;
    font-size: 30px;
    margin-bottom: 10px;
}

.advanced-search-bar-top form {
    display: flex;
    flex-direction: column;
}

.advanced-search-bar-top .searchbar-inner {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.advanced-search-bar-top input[type="text"],
.advanced-search-bar-top input[type="date"],
.advanced-search-bar-top button {
    flex: 1; /* Distribute available space equally among fields */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding doesn't increase element width */
    margin-right: 10px; /* Adjust spacing between fields */
    padding-bottom: 12px;
    background-color:  white;
}

.advanced-search-bar-top button {
    background-color:  #e9e8e6;
    color: black;
    border: none;
    cursor: pointer;
}

.advanced-search-bar-top button:hover{
    cursor: pointer;
    background-color: #9BBEC8;
    transition: all 0.4s ease-out;
}

.filter-bar{
    font-size: 20px;;
    background-color: rgba(34, 34, 35, 0.97);
    box-sizing: border-box;
    color: white;
    padding: 0px 20px 20px 20px;
    width: 85%;
    border-radius: 0px 0px 5px 5px;
    border-bottom: 5px solid;
    border-right: 5px solid;
    border-left: 5px solid;
    border-color: rgb(180, 180, 180);
}

.filter-bar h2{
    margin-top: 0px;
}

.top{
    width: 100%;
}
.filter-bar-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
}


.filter-bar-inner span {
    margin-left: 5px;
    font-size: 16px;
}

.filter-bar-inner h2 {
    margin: 0;
    font-size: 30px;
    margin-bottom: 10px;
}

.filter-bar-inner form {
    display: flex;
    flex-direction: column;
}

.filter-bar .filter-bar-inner {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.input-short {
    /* Your styles here */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 30px;
    /* Other styles for the filter input */
}

.input-long {
    /* Your styles here */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100px;
    /* Other styles for the filter input */
}

.input-preis{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 80px;
}

.filter-bar-inner button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding doesn't increase element width */
    margin-right: 10px; /* Adjust spacing between fields */
    padding-bottom: 12px;
    background-color:  white;
    width: 200px;
}



.filter-bar-inner button {
    background-color:  #e9e8e6;
    color: black;
    border: none;
    cursor: pointer;
}

.filter-bar-inner button:hover{
    cursor: pointer;
    background-color: #9BBEC8;
    transition: all 0.4s ease-out;
}

.filter-bar-inner input[type="checkbox"] {
    height:30px;
    width:30px;
    vertical-align: middle; /* Align checkboxes vertically in the middle */
    margin-bottom: 2px; /* Optional: Add some space below the checkboxes */
}

.overview-parent {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.overview-container {
    display: flex;
    width: 85%;
    justify-content: space-between; /* Distribute space between cards */
}

.car-card {
    width: calc((85%) / 5); /* Calculate card width based on container width and gap */
    height: 350px;
    background-color: rgb(180, 180, 180);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.car-card:hover {
    transform: scale(1.05);
}

  .car-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .car-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .car-name {
    font-size: 20px; /* Größere Schrift für den Namen */
    font-weight: bold;
    margin-bottom: 5px;
  }

  .key-facts {
    font-size: 16px; /* Größere Schrift für die Schlüsselfakten */
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
  }

  .rent-button {
    align-self: flex-end;
    padding: 10px;
    background-color:  #e9e8e6;
    color: black;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .rent-button:hover {
    background-color: #9BBEC8;
  }
  
  /* Product-Details Styles*/
  .car-details-overlay {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
}

.car-details-popup {
    background-color: #f5f5f5; /* Graue Farbe der Karten übernehmen */
    margin: 5% auto; /* Zentrierung und Abstand von oben erhöhen */
    padding: 50px; /* Mehr Innenabstand */
    border-radius: 10px; /* Runde Ecken */
    width: 90%; /* Breite anpassen */
    max-width: 1200px; /* Maximalbreite anpassen */
    min-height: 50vh; /* Mindesthöhe in Relation zur Bildschirmhöhe */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Schatten wie bei den Karten */
    position: fixed;
    top: 50px; /* Anpassen der oberen Position des Popups */
    left: 50%; /* Zentrieren des Popups horizontal */
    transform: translateX(-50%);
}

/* Stile für den Inhalt der vergrößerten Ansicht */
.popup-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.car-image-popup {
    width: 45%; /* Breite des Bildes anpassen */
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.car-details-popup-content {
    width: 50%;
    padding-left: 20px;
}

.close-button {
    position: absolute;
    top: 10px; /* Abstand vom oberen Rand innerhalb des Popups */
    right: 10px; /* Abstand vom rechten Rand innerhalb des Popups */
    cursor: pointer;
    font-size: 24px;
    color: #888;
    z-index: 99999; /* Stellen sicher, dass das Symbol über allem liegt */
}

/* Product-Details Styles*/