@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.product-barcontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    z-index: 1; /* Ensure it appears above slider images */
    justify-content: center;
    margin-top: 60px;
}

.advanced-search-bar-top {
    font-size: 20px;;
    background-color: rgba(34, 34, 35, 0.9);
    box-sizing: border-box;
    color: white;
    padding: 20px 20px 0px 20px;
    width: 85%;
    border-radius: 5px 5px 0px 0px;
}

.advanced-search-bar-top h2 {
    margin: 0;
    font-size: 30px;
    margin-bottom: 10px;
}

.advanced-search-bar-top form {
    display: flex;
    flex-direction: column;
}

.advanced-search-bar-top .searchbar-inner {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.advanced-search-bar-top input[type="text"],
.advanced-search-bar-top input[type="date"],
.advanced-search-bar-top button {
    flex: 1; /* Distribute available space equally among fields */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding doesn't increase element width */
    margin-right: 10px; /* Adjust spacing between fields */
    padding-bottom: 12px;
    background-color:  white;
}

.advanced-search-bar-top button {
    background-color:  #e9e8e6;
    color: black;
    border: none;
    cursor: pointer;
}

.advanced-search-bar-top button:hover{
    cursor: pointer;
    background-color: #9BBEC8;
    transition: all 0.4s ease-out;
}

.filter-bar{
    font-size: 20px;;
    background-color: rgba(34, 34, 35, 0.9);
    box-sizing: border-box;
    color: white;
    padding: 0px 20px 20px 20px;
    width: 85%;
    border-radius: 0px 0px 5px 5px;
}

.filter-bar h2{
    margin-top: 0px;
}

.filter-bar-inner {
    display: flex;
    flex-wrap: wrap; /* Allow elements to wrap into a new line */
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.filter-bar-inner span{
    margin-left: 5px;
    font-size: 16px;
}

.filter-bar-inner h2 {
    margin: 0;
    font-size: 30px;
    margin-bottom: 10px;
}

.filter-bar-inner form {
    display: flex;
    flex-direction: column;
}

.filter-bar .filter-bar-inner {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.filter-bar-inner input[type="text"],
.filter-bar-inner button {
    flex: 1; /* Distribute available space equally among fields */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding doesn't increase element width */
    margin-right: 10px; /* Adjust spacing between fields */
    padding-bottom: 12px;
    background-color:  white;
}

.filter-bar-inner button {
    background-color:  #e9e8e6;
    color: black;
    border: none;
    cursor: pointer;
}

.filter-bar-inner button:hover{
    cursor: pointer;
    background-color: #9BBEC8;
    transition: all 0.4s ease-out;
}

.filter-bar-inner input[type="checkbox"] {
    height:30px;
    width:30px;
}
