
.aTextContainer h1, h2 {
    margin-top: 20px;
}

.aTextContainer h1 {
    font-size: 24px;
    font-weight: bold;
}

.aTextContainer h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.aTextContainer ol {
    list-style-type: decimal;
    margin-left: 20px;
}

.aTextContainer{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.TextContainer{
    padding-left: 20px;
    width: 85%;
}

