body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}



.content {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

}
h1 {
  text-align: center;
  color: #333;
}

.booking-container {
  background: rgba(255, 255, 255, 0.95); /* Hintergrundfarbe mit Transparenz für den Container */
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #0fa3b1;
  color: white;
}

tr:hover {
  background-color: rgba(15, 163, 177, 0.1); /* Ändere die Hintergrundfarbe nach Bedarf */
}
/* Buchungstabelle Styles hier einfügen */
